<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>注册</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="static/css/login/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/css/login/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="static/css/login/style.css">
      <link rel="shortcut icon" href="../static/image/bitbug_favicon%20(1).ico" />
    <!-- End layout styles -->
   
  </head>
  <body class="bodylogin">
{#    <div class="container-scroller">#}
{#      <div class="container-fluid page-body-wrapper full-page-wrapper">#}
{#        <div class="row w-100 m-0">#}
{#          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">#}
{#            <div class="card col-lg-4 mx-auto">#}
{#                <img src="/static/image/B8SxBM1DslJzA5z.jpg" alt=""  style="width: 450px;  margin: 0; display: block;display: block; margin: 0;">#}
{#              <div class="card-body px-5 py-6">#}
{#                <h1 class="card-title text-left mb-3" style="text-align: center; margin: 0 auto; width: fit-content;">用户注册</h1>#}
{#                <form class="user" method="POST" action="/register">#}
{#                    <div class="form-group">#}
{#                    <label>用户</label>#}
{#                    <input type="username" name="username" class="form-control p_input" autocomplete="off">#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label>邮箱</label>#}
{#                    <input type="email" name="email" class="form-control p_input" >#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                    <label>密码</label>#}
{#                    <input type="password" name="password" class="form-control p_input">#}
{#                  </div>#}
{#                    <div class="form-group">#}
{#                    <label>确认密码</label>#}
{#                    <input type="password" name="passwordChecked" class="form-control p_input">#}
{#                  </div>#}
{#                  <div class="form-group d-flex align-items-center justify-content-between">#}
{#                    <div class="form-check">#}
{#                      <label class="form-check-label">#}
{#                        <input type="checkbox" class="form-check-input"> 点击 “注册” 即表示您同意并愿意遵守</label>#}
{#                    </div>#}
{#                    <a href="#" class="forgot-pass">《服务条款》、《隐私条款》</a>#}
{#                  </div>#}
{#                  <div class="text-center">#}
{#                    <button type="submit" class="btn btn-primary btn-block enter-btn">注册</button>#}
{#                  </div>#}
{#                  <p class="terms">已有账号，<a href="/login">  直接登录</a></p>#}
{#                </form>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <!-- content-wrapper ends -->#}
{#        </div>#}
{#        <!-- row ends -->#}
{#      </div>#}
{#      <!-- page-body-wrapper ends -->#}
{#    </div>#}
<form class="user" method="POST" action="/register">
 <div class="login-container1 ">
        <div class="left-container">
            <div class="title"><span>注册</span></div>
            <div class="input-container">
                <input type="username" name="username"  autocomplete="off" placeholder="用户名">
                <input type="email" name="email" placeholder="账号">
                <input type="password" name="password"  placeholder="密码">
                <input type="password" name="passwordChecked" placeholder="确认密码">
            </div>
            </div>
        <div class="right-container">
            <div class="regist-container">
                <span class="regist">登录</span>
            </div>
            <a href="/login">
            <div class="action-container1">
                <span>登录</span>
            </div></a>
        </div>
    </div>
            <div class="message-container">
                <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" > 点击 “注册” 即表示您同意并愿意遵守</label>
                          <a href="#" class="forgot-pass">《服务条款》、《隐私条款》</a>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">注册</button>
                  </div>
                </div>

            </div>

{#                <input type="checkbox" class="form-check-input"> &nbsp&nbsp&nbsp保存密码 </label>#}
{#                <p class="sign-up">你是不是还没有账号?<a href="/register" style="color: #ca0a0a" >  注册账号</a></p>#}

            </div>


   </form>
    <!-- container-scroller -->

    <!-- plugins:js -->
   <script src="static/js/login/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="static/js/login/off-canvas.js"></script>
    <script src="static/js/login/hoverable-collapse.js"></script>
    <script src="static/js/login/misc.js"></script>
    <script src="static/js/login/settings.js"></script>
    <script src="static/js/login/todolist.js"></script>
    <!-- endinject -->
  </body>
</html>